AI_MODEL_PATH=path/to/best.pt
AI_CONFIDENCE=0.70
AI_DEBUG_DETECTIONS=false
AI_SCAN_X_MIN=0.20
AI_SCAN_X_MAX=0.80
AI_SCAN_Y_MIN=0.15
AI_SCAN_Y_MAX=0.85
AI_MIN_BOX_WIDTH_RATIO=0.05
AI_MIN_BOX_HEIGHT_RATIO=0.05
AI_MIN_BOX_AREA_RATIO=0.01
AI_MAX_BOX_AREA_RATIO=0.80
